<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>id</td>
        <td>message</td>
        <td>edytuj</td>
        <td>komentarze</td>
    </tr>
    <tr th:each="task : ${listaTaskow}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.message}"></td>
       <!--  <td><a th:href="@{'/update/{id}'(id=${task.id})}"/></td> -->
        <td><a th:href="@{/update/} + ${task.id}">edytuj</a></td>
        <td><a th:href="@{/task/} + ${task.id}">Komentarze</a></td>
    </tr>
</table>
</body>
</html>